---
layout: retired.njk
title: This site is no longer active
heading: This site is no longer active
message: I’m not currently taking on website work through this site. For my current work, projects and writing, visit philstephens.com.
permalink: /index.html
---
